torch
transformers
optimum[openvino]
numpy
scipy
librosa
soundfile
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
requests
accelerate
torchaudio
pypdf
python-docx
openpyxl
sentence-transformers
faiss-gpu-cu12
